#container {
  display: flex;
  height: 100vh;
  margin: 0;
}

#left_container {
  background-color: black;
  color: white;
}

#right_container {
  background-color: pink;
}

.half_container {
  width: 50%;
  height: 100%;
}

#signup {
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}
